.abstract_form_explanation {
	font-style: italic;
	margin-bottom: 5px;
}

.abstract_form_add_attachments {
	margin: 10px;
	cursor: pointer;
}

.abstract_form_attachment {
	height: 30px;
}

.abstract_attachment_row {
	height: 30px;
	line-height:30px;
}

.abstract_form_error {
	color: #ff0000;
	font-weight: bold;
}
